h1 {
	color: #fff;
	font-size: 45px;
	font-family: 'futura'
}


h2 {
	color: #000;
	font-size: 12px;
	font-family: 'futura';
}
body{
	 background-image: url("./rescources/bg.jpg");
    background-color: #ffffff;
}
<!--
A:link { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
A:visited { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR: black; TEXT-DECORATION: none }
A:hover { COLOR: #d02120; TEXT-DECORATION: none; font-weight: none }
-->
