body {
	background-image: url ("./resources/blacksheep.jpg");
}

h1 {
	color: #fff;
	font-size: 45px;
	font-family: 'futura'
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
	color: #000;
	font-size: 12px;
	font-family: 'futura';
}
body{
	background-image: url("./resources/bg.jpg");
    background-color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
<!--
A:link { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
A:visited { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR: black; TEXT-DECORATION: none }
A:hover { COLOR: #d02120; TEXT-DECORATION: none; font-weight: none }
-->
/* Possible font: Roboto; */

